<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>SVerificarUsuario</servlet-name>
        <servlet-class>SVerificarUsuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ModificarUsuario</servlet-name>
        <servlet-class>ModificarUsuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginController</servlet-name>
        <servlet-class>LoginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NuevoArticulo</servlet-name>
        <servlet-class>NuevoArticulo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegistroUsuario</servlet-name>
        <servlet-class>RegistroUsuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>productSelected</servlet-name>
        <servlet-class>productSelected</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegistroAdmin</servlet-name>
        <servlet-class>RegistroAdmin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EliminarUsuario</servlet-name>
        <servlet-class>EliminarUsuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EliminarArticulo</servlet-name>
        <servlet-class>EliminarArticulo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ModificarArticulo</servlet-name>
        <servlet-class>ModificarArticulo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VerTicket</servlet-name>
        <servlet-class>VerTicket</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EliminarTicket</servlet-name>
        <servlet-class>EliminarTicket</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EliminarTicke</servlet-name>
        <servlet-class>EliminarTicke</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Favoritos</servlet-name>
        <servlet-class>Favoritos</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogOut</servlet-name>
        <servlet-class>LogOut</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SVerificarUsuario</servlet-name>
        <url-pattern>/SVerificarUsuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ModificarUsuario</servlet-name>
        <url-pattern>/ModificarUsuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginController</servlet-name>
        <url-pattern>/LoginController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NuevoArticulo</servlet-name>
        <url-pattern>/NuevoArticulo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegistroUsuario</servlet-name>
        <url-pattern>/RegistroUsuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>productSelected</servlet-name>
        <url-pattern>/productSelected</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegistroAdmin</servlet-name>
        <url-pattern>/RegistroAdmin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EliminarUsuario</servlet-name>
        <url-pattern>/EliminarUsuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EliminarArticulo</servlet-name>
        <url-pattern>/EliminarArticulo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ModificarArticulo</servlet-name>
        <url-pattern>/ModificarArticulo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VerTicket</servlet-name>
        <url-pattern>/VerTicket</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EliminarTicket</servlet-name>
        <url-pattern>/EliminarTicket</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EliminarTicke</servlet-name>
        <url-pattern>/EliminarTicke</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Favoritos</servlet-name>
        <url-pattern>/Favoritos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogOut</servlet-name>
        <url-pattern>/LogOut</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
